<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aviso legal - Finsmart</title>

        <link rel="stylesheet" href="../assets/styles/styles.css">
        <link rel="shortcut icon" href="../assets/icons/favicon.png" type="image/x-icon">
    </head>
    <body>
        <!----------NAVEGACIÓN Y CABECERA---------->
        <header class="cabecera index">
            <nav class="barra-navegacion">
                <h2>
                    <a href="../index.html">Finsmart</a>
                </h2>
                <ul>
                    <li>
                        <a href="dashboard.html">Mi cartera</a>
                    </li>
                    <li>
                        <a href="bolsa.html">Estado de la bolsa</a>
                    </li>
                    <li>
                        <a href="conocenos.html">Conócenos</a>
                    </li>
                </ul>
            </nav>
            <section class="hero row">
                <h1 class="hero__title">Aviso legal</h1>
            </section>
        </header>

        <!----------CUERPO---------->
        <main class="legal">
            <h2>Aviso Legal</h2>
            <p>Este sitio web es propiedad de Finsmart.</p>
            <p>La información contenida en este sitio web es proporcionada "tal cual" y sin garantías de ningún tipo, expresas o implícitas.</p>
            <p>Al acceder y utilizar este sitio web, usted acepta los términos y condiciones establecidos a continuación:</p>
            <ul>
                <li>Usted no puede reproducir, distribuir ni utilizar la información contenida en este sitio web para fines comerciales o personales sin permiso previo por escrito.</li>
                <li>Usted no puede modificar, copiar o alterar el contenido de este sitio web de ninguna manera.</li>
                <li>Usted no puede utilizar este sitio web para fines ilegales o dañinos.</li>
                <li>Usted no puede crear enlaces a este sitio web sin permiso previo por escrito.</li>
            </ul>
            <p>Este sitio web puede contener enlaces a sitios web externos. Al acceder a estos sitios web, usted acepta que no son controlados por nosotros y que no somos responsables de su contenido.</p>
            <p>Este aviso legal se rige por la ley de España y cualquier disputa que surja de la interpretación o aplicación de este aviso legal se someterá a los tribunales de España.</p>
            <p>Última actualización: HOY</p>
        </main>

        <!----------PIÉ DE PÁGINA---------->
        <footer class="pie-pagina">
            <section class="col3">
                <div class="columna">
                    <h3><strong>Nuestra Empresa</strong></h3>
                    <ol>
                        <li>
                            <a href="conocenos.html">Conocenos</a>
                        </li>
                        <li>
                            <a href="aviso.html">Aviso</a>
                        </li>
                        <li>
                            <a href="contacto.html">Contacto</a>
                        </li>
                    </ol>
                </div> 
                <div class="columna">
                    <h3><strong>Herramientas</strong></h3>
                    <ol>
                        <li>
                            <a href="ahorro.html">Calculadora de ahorro</a>
                        </li>
                        <li>
                            <a href="bolsa.html">Estado de la bolsa</a>
                        </li>
                        <li>
                            <a href="dashboard.html">Consulta tu portfolio</a>
                        </li>
                    </ol>
                </div>
                <div class="columna">
                    <h3><strong>Otros</strong></h3>
                    <ol>
                        <li>
                            <a href="formacion.html">Fórmate con nosotros</a>
                        </li>
                        <li>
                            <a href="noticias.html">Ponte al día de las noticias</a>
                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </section>
            <section class="pie-pagina__copy">
                <h2>
                    <strong>Finsmart</strong>
                </h2>
                <hr>
                <p>
                    &copy; 2025 Finsmart S.L.
                </p>
                <p>
                    Finsmart S.L. está autorizada por la Banco de España en la España y por el Banco Central Europeo, y está regulada por la Comisión Nacional del Mercado de Valores en lo que respecta a las normas de conducta empresarial.
                </p>
                <p>
                    Domicilio social: Calle de la Vida, 42, Madrid, 28001, España, número de registro B-12345678.
                </p>
                <p>
                    Finsmart S.L. es una sociedad limitada.
                </p>
                <p>
                    Finsmart S.L. ha establecido una sucursal en España, con número de registro en la Banco de España B-98765432, inscrita en el Registro Mercantil de Madrid al Tomo 45678, Libro 0, Folio 2, Sección 9, Hoja M987654, Inscripción 2 y con domicilio en Calle de la Fama, 10, 28001, Madrid.
                </p>
                <p>
                    Finsmart S.L. ha sido fundada por el visionario y empresario Bruce Wayne, quien ha invertido en la empresa una fortuna comparable a la de Tony Stark. La dirección de la sucursal en Madrid es un edificio de oficinas diseñado por el arquitecto Gustavo Fring, famoso por su estilo minimalista y funcional.
                </p>
                <p>
                    En cuanto a los registros, Finsmart S.L. tiene un número de registro en el Registro Mercantil de Madrid que es similar al número de registro de la película La lista de Schindler, y su sucursal en Madrid está ubicada en una calle que recuerda a la famosa Calle de la Sombra de la película El Padrino.                    
                </p>
            </section>
        </footer>
    </body>
</html>