@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

/* RESET BÁSICO, ESTILOS POR DEFECTO, VARIABLES */
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color: #222;
    background-color: var(--color-bg-white);

    --color-primary: #243351;
    --color-secondary: #bba7ea;
    --color-accent: green;
    --color-bg-grey: #333;
    --color-bg-white: #f9f9f9;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* BARRA DE NAVEGACION Y CABECERA */
.cabecera {
    min-height: 100dvh;
    background: linear-gradient(38deg, var(--color-primary), var(--color-secondary));
}

.barra-navegacion {
    background-color: var(--color-bg-white);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10dvh;
    padding: 0 2rem;
    box-shadow: 0 0 10px var(--color-bg-grey);

    ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90dvh;

    img {
        width: 20vw;
        border-radius: 1000px;
        border: var(--color-bg-white) 3px solid;
        box-shadow: 0 0 10px var(--color-bg-grey);
    }
}